*__pycache__*
err/*
out/*
artifacts/checkpoints/*
artifacts/analysis/*
*.pt
*checkpoints*
*.log
*.pid
artifacts/debug/030_mirror_global_pareto/
*checkpoint*
artifacts/exports/vllm/llama2_7b_018/uniform_dense_nvfp4/*
artifacts/exports/vllm/llama2_7b_018/uniform_marlin_nvfp4/*
artifacts/exports/vllm/llama2_7b_018/uniform_sparse_bf16/*
artifacts/exports/vllm/llama2_7b_018/uniform_sparse_nvfp4/*