[submodule "third_party/dinov3"]
	path = third_party/dinov3
	url = https://github.com/facebookresearch/dinov3.git
[submodule "third_party/OBC"]
	path = third_party/OBC
	url = https://github.com/IST-DASLab/OBC.git
[submodule "third_party/sparsegpt"]
	path = third_party/sparsegpt
	url = https://github.com/IST-DASLab/sparsegpt.git
[submodule "third_party/MIRROR"]
	path = third_party/MIRROR
	url = https://github.com/handsome-rich/MIRROR.git
