[submodule "third_party/dinov3"]
	path = third_party/dinov3
	url = https://github.com/facebookresearch/dinov3.git
[submodule "third_party/OBC"]
	path = third_party/OBC
	url = https://github.com/IST-DASLab/OBC.git
[submodule "third_party/sparsegpt"]
	path = third_party/sparsegpt
	url = https://github.com/IST-DASLab/sparsegpt.git
[submodule "third_party/MIRROR"]
	path = third_party/MIRROR
	url = https://github.com/handsome-rich/MIRROR.git
[submodule "third_party/vllm"]
	path = third_party/vllm
	url = https://github.com/vllm-project/vllm.git
[submodule "third_party/lm-evaluation-harness"]
	path = third_party/lm-evaluation-harness
	url = https://github.com/EleutherAI/lm-evaluation-harness.git
[submodule "third_party/FakeVLM"]
	path = third_party/FakeVLM
	url = https://github.com/opendatalab/FakeVLM.git
